*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 108px;
}
body{
    background: #f9f8f4;
}
.nav{
    border: 1px solid #242424;
    width: 100%;
    height: 75px;
}


.header__nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.header__nav-list{
    display: flex;
    gap: 120px;
}
.header__nav-list-link{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}
.header__nav-icons{
    display: flex;
    align-items: center;
    gap: 60px;
}
.header__intro{
    background: url(../img/header-bg.jpg) no-repeat center /cover;
    padding-top: 239px;
    padding-bottom: 315px;
}


.header-title{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 74px;
    text-transform: uppercase;
    color: #eee;
    max-width: 1100px;
    width: 100%;
    
}
.header-text{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #eee;
    max-width: 900px;
    width: 100%;
    margin-top: 40px;
}
.header-link{
    margin-top: 60px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #eee;
    border: 2px solid #eee;
    max-width: 264px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop{
    padding-top: 140px;
    padding-bottom: 140px;
}
.shop-title{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    position: relative;
}
.shop-title::after{
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #242424;
    position: absolute;
    top:21px;
    left: 110px;
}
.shop-subtitle{
    font-family: "Tech";
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    max-width: 700px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.shop-text{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 60px;
}
.discount{
    position: absolute;
    width: 120px;
    height: 60px;
    background: #242424;
    top: 24px;
    left: 24px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-price{
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
}
.shop__bottom-card-title{
    position: absolute;
    left: 24px;
    bottom: 157px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
}
.card-info-2{
    position: absolute;
    left: 24px;
    bottom: 91px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
}
.card-info-1{
    position: absolute;
    left: 24px;
    bottom: 119px;
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
}
.shop__bottom-card{
    position: relative;
}


.shop__bottom-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.shop__bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
}
.shop__bottom-card:nth-of-type(3){
    grid-column: 2;
    grid-row: span 2;
    height: 824px;
}
.shop__bottom-card:nth-of-type(2){
    grid-column: 1;
    grid-row: 2;
    height: 400px;
}
.shop__bottom-card:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
    height: 400px;
}
.bestsellers{
    padding-bottom: 140px;
}

.bestsellers-title{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    position: relative;
}
.bestsellers-title::after{
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #242424;
    position: absolute;
    top:21px;
    left: 258px;
}
.bestsellers-subtitle{
    font-family: "Tech";
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    max-width: 1100px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.bestsellers-text{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 60px;
}


.bestsellers__bottom{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}



.bestsellers__bottom-card{
    position: relative;
    max-width: 552px;
    width: 100%;
    height: 700px;
}
.bestsellers__bottom-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.bestsellers__bottom-icons{
    display: flex;
    gap: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
}
.bestsellers__bottom-icon{
    width: 60px;
    height: 60px;
    background: #f9f8f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bestsellers__bottom-icon img{
    width: 24px;
    height: 22px;
}


.bestsellers__bottom-name{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    position: absolute;
    left: 24px;
    bottom: 257px;
}

.bestsellers__bottom-info-1{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    position: absolute;
    left: 24px;
    bottom: 219px;
}

.bestsellers__bottom-info-2{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f9f8f4;
    position: absolute;
    left: 24px;
    bottom: 191px;
}

.bestsellers__bottom-price{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #f9f8f4;
    position: absolute;
    left: 24px;
    bottom: 124px;
}

.bestsellers__bottom-btn{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    position: absolute;
    left: 24px;
    bottom: 24px;
    max-width: 200px;
    width: 100%;
    height: 80px;
    background: #f9f8f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    padding-bottom: 140px;
}
.about-img{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    object-fit: cover;
}
.about-title{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #242424;
    position: relative;
}
.about-subtitle{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    margin-top: 40px;
    margin-bottom: 20px;
}
.about-text{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 16px;
    color: #6c6c6c;
}
.about-title::after{
    content: '';
    display: block;
    width: 144px;
    height: 2px;
    background: #242424;
    position: absolute;
    top:21px;
    left: 193px;
}


.footer__box{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer{
    width: 100%;
    height: 2px;
    background: #242424;
}
.footer__box-nav-list{
    display: flex;
    gap: 180px;
}
.footer__box-nav-link{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}
.footer__box-title{
    font-family: 'Tech';
    font-weight: 400;
    font-size: 24px;
    line-height: 90%;
    color: #242424;
}
.footer__box-follow{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 120px 0;
}
.footer__box-follow-list{
    display: flex;
    align-items: center;
    gap: 40px;
}


@media (max-width: 1200px){
    .header__nav-icons{
        gap: 30px;
    }
    .header__intro{
        padding: 140px 0 200px 0;
    }
    .header__nav-list{
        gap: 50px;
    }
    .header-title{
        font-size: 62px;
    }
    .bestsellers__bottom-card{
        max-width: 350px;
        width: 100%;
        height: 500px;
    }
    .discount{
        height: 40px;
        width: 80px;
    }
    .bestsellers__bottom-icon{
        width: 40px;
        height: 40px;
    }
    .bestsellers__bottom-icons{
        gap: 10px;
    }
    .footer__box-nav-list{
        gap: 100px;
    }
    .footer__box-follow{
        margin: 80px 0;
    }
}
@media (max-width: 992px){
    .header-title{
        font-size: 54px;
    }
    .header-link{
        height: 60px;
        width: 200px;
    }
    .bestsellers__bottom{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 500px);
        justify-content: center;
    }
    .bestsellers__bottom-card{
        max-width: 350px;
        width: 100%;
        height: 500px;
    }

    .bestsellers__bottom-btn{
        max-width: 150px;
        width: 100%;
        height: 60px;
    }
    .shop__bottom{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(2, 350px);
    }
    .shop__bottom-card:nth-of-type(3){
        height: 724px;
    }
    .shop__bottom-card:nth-of-type(2){
        height: 350px;
    }
    .shop__bottom-card:nth-of-type(1){
        height: 350px;
    }
    .footer__box-nav-list{
        gap: 60px;
    }
    .container{
        padding: 0 30px;
    }
    .shop,
    .about,
    .bestsellers,
    .footer{
        margin-top: 100px;
    }

}
@media (max-width: 768px){
    .footer__box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__box-follow-list{
        gap: 15px;
    }
    .footer__box-title{
        font-size: 24px;
    }
    .footer__box-nav-link{
        font-size: 24px;
    }
    .footer__box-follow{
        margin: 30px 0;
    }
    .footer__box-nav-list{
        gap: 40px;
    }
    .header__nav-icons{ 
        gap: 15px;
    }
    .header__nav-list{
        gap: 30px;
    }
    .header-text{
        font-size: 18px;
    }
    .header__intro{
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .header-title{
        font-size: 40px;
    }
    .header__nav-list-link{
        font-size: 18px;
    }
    .bestsellers__bottom{
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 350px);
        justify-content: center;
    }
    .bestsellers__bottom-card{
        max-width: 350px;
        width: 100%;
        height: 350px;
    }
    .shop__bottom{
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(3, 350px);
        justify-content: center;
        gap: 10px;
    }
    .shop__bottom-card:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
        height: 350px;
    }
    .shop{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .shop-title{
        font-size: 32px;
    }
    .shop-title::after{
        width: 100px;
        left: 96px;
        top: 16px;
    }
    .bestsellers-title{
        font-size: 32px;
    }
    .bestsellers-title::after{
        width: 100px;
        left: 212px;
        top: 16px;
    }
    .bestsellers{
        padding-bottom: 100px;
    }
    .about{
        padding-bottom: 100px;
    }
    .about-title{
        font-size: 32px;
    }
    .about-title::after{
        width: 100px;
        left: 156px;
        top: 17px;
    }
    .about-img{
        height: 300px;
    }
    .bestsellers__bottom-price{
        bottom: 85px;
        font-size: 20px;
    }
    .bestsellers__bottom-info-1{
        bottom: 130px;
    }
    .bestsellers__bottom-info-2{
        bottom: 110px;
    }
    .bestsellers__bottom-name{
        bottom: 160px;
        font-size: 20px;
    }
    .bestsellers__bottom-btn{
        max-width: 100px;
        width: 100%;
        height: 50px;
        font-size: 20px;
    }

}
@media (max-width: 576px){
    .header__nav-box{
        flex-direction: column;
        padding: 10px 0;
        gap: 5px;
    }
    .nav{
        height: 100px;
    }
    .header-title{
        font-size: 36px;
    }
    .footer__box-nav-list{
        gap: 30px;
    }
    .about-img{
        height: 200px;
    }
    

}
@media (max-width: 375px){
    .about-title{
        display: flex;
        justify-content: center;
    }
    .bestsellers-title{
        display: flex;
        justify-content: center;
    }
    .shop-title{
        display: flex;
        justify-content: center;
    }
    .about-title::after{
        display: none;
    }
    .bestsellers-title::after{
        display: none;
    }
    .shop-title::after{
        display: none;
    }
    .shop__bottom{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(3, 300px);
        justify-content: center;
        gap: 10px;
    }
    .shop__bottom-card:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
        height: 300px;
    }
    .shop__bottom-card:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
        height: 300px;
    }
    .shop__bottom-card:nth-of-type(1){
        grid-column: 1;
        grid-row: 1;
        height: 300px;
    }
    .bestsellers__bottom{
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(6, 300px);
        justify-content: center;
    }
    .bestsellers__bottom-card{
        max-width: 300px;
        width: 100%;
        height: 300px;
    }
    .about-img{
        height: 150px;
    }
    .footer__box-nav-link{
        font-size: 18px;
    }
    .footer__box-title{
        font-size: 20px;
    }
    .footer__box-nav-list{
        margin-top: 10px;
        gap: 15px;
    }
    .container{
        padding: 0 15px;
    }
    .about,
    .bestsellers,
    .footer,
    .shop{
        margin-top: 60px;   
    }
    .about-text,
    .about-subtitle,
    .bestsellers-text,
    .bestsellers-subtitle,
    .shop-subtitle,
    .shop-text{
        text-align: center;
    }
}    
